<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atharv.efarmersmarket">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/efarmicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/efarmicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EFarmersMarket">
        <activity
            android:name=".Curtomer_order_history"
            android:exported="false"
            android:parentActivityName=".customer_mainmenu"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".Seller_Order_History"
            android:exported="false"
            android:parentActivityName=".Seller_Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Seller_Confirrmed_Orders"
            android:exported="false"
            android:parentActivityName=".Seller_Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Upi_Payment"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".customer_orders"
            android:exported="false"
            android:parentActivityName=".customer_mainmenu"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".customer_mainmenu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".view_order_grains"
            android:exported="false"
            android:parentActivityName=".customer_home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".view_order_pulses"
            android:exported="false"
            android:parentActivityName=".customer_home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".customer_login"
            android:exported="false" />
        <activity
            android:name=".customer_signup"
            android:exported="false" />
        <activity
            android:name=".View_order_fruits"
            android:exported="false"
            android:parentActivityName=".customer_home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".View_Orders_Seller"
            android:exported="false"
            android:parentActivityName=".Seller_Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Order"
            android:exported="false"
            android:parentActivityName=".customer_home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".View_order_vegetables"
            android:exported="false"
            android:parentActivityName=".customer_home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".customer_home"
            android:exported="false"
            android:parentActivityName=".customer_mainmenu"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".view_product_details"
            android:exported="false"
            android:parentActivityName=".view_products"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".view_products"
            android:exported="false"
            android:parentActivityName=".Seller_Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".add_product"
            android:exported="false"
            android:parentActivityName=".Seller_Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Seller_Home"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".seller_login"
            android:exported="false" />
        <activity
            android:name=".Entry_Page"
            android:exported="false"
            android:theme="@style/Theme.EFarmersMarket" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>